<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

<style>
  body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: grey;
    /*background-image: url('../backgroundImage/standard.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 30vw;
  }

  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
  }

  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;

  }

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .ic1 {
    margin-top: 40px;
  }

  .ic2 {
    margin-top: 30px;
  }

  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 65px;
  }

  .cut-short {
    width: 80px;
  }

  .input:focus~.cut,
  .input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
  }

  .placeeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  .input:focus~.placeeholder,
  .input:not(:placeholder-shown)~.placeeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .input:not(:placeholder-shown)~.placeeholder {
    color: #808097;
  }

  .input:focus~.placeeholder {
    color: #65657b;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }

  .submit:active {
    background-color: #06b;
  }

  input[type="file"] {
    display: none;
  }

  .uploadImage {
    color: #a9a9b6;
    height: 60px;
    width: 400px;
    background-color: rgb(79, 66, 195);
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
  }

  #placeholderImg {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    border: 3px solid #fff;
  }

  .imageButtons {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .spaceButtons {
    margin: 30px;
    color: white;
  }

  .inputfile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    display: none;
    z-index: 1;
    overflow-y: hidden;
    width: 87vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal2 {
    display: none;
    z-index: 1;
    overflow-y: hidden;
    width: 87vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    background-color: #15172be3;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
  }

  .modal-content2 {
    background-color: #15172b;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
  }

  .allignTopModal {
    display: flex;
    justify-content: space-between;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .cameraButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .cameraButtons button {
    display: flex;
    flex-direction: row;
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    outline: 0;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

  }
  .cameraButtons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
  }

  .cameraButtons2 button {
    display: flex;
    flex-direction: row;
    background-color: #08d;
    border-radius: 50%;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 60px;
    width: 60px;
    outline: 0;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

  }

  .centerCamera {
    display: flex;
    justify-content: center;
  }

  #video {
    max-height: 100%;
    width: auto;
  }

  #canvas {

  }
  .closeModal1Button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

</style>

<div class="form">
  <img id="placeholderImg" src="../defaultImg/defaultImg23698.jpg" alt="">
  <form id="myForm" action="/links/add" method="POST">
    <div class="title">Bienvenido</div>
    <div class="subtitle">Complete los datos</div>
    <div class="input-container ic1">
      <input name="tempfname" id="firstname" class="input" type="text" placeholder=" "
        onchange="resetColor('placeeholderName')" />
      <div class="cut"></div>
      <label for="firstname" class="placeeholder" id="placeeholderName">Nombre</label>
    </div>
    <div class="input-container ic2">
      <input name="templastname" id="lastname" class="input" type="text" placeholder=" "
        onchange="resetColor('placeeholderLastname')" />
      <div class="cut"></div>
      <label for="lastname" class="placeeholder" id="placeeholderLastname">Apellido</label>
    </div>
    <div class="input-container ic2">
      <input name="tempdescription" id="description" class="input" type="text" placeholder=" "
        onchange="resetColor('placeeholderDescription')" />
      <div class="cut cut-short"></div>
      <label for="description" class="placeeholder" id="placeeholderDescription">Comentarios</label>
    </div>
  </form>
  <br>
  <form id="myForm1" action="/links/image" method="POST" encType="multipart/form-data">
    <div class="imageButtons">
      <input id="file" class="inputfile" type="file" name="sampleFile" accept="image/*" onchange="loadFile(event)"
        encType="multipart/form-data">
      <label id="uploadImage" class="uploadImage" for="file">Subir foto</label>
      <div class="spaceButtons"> O </div>
      <button id="myBtn" class="uploadImage" type="button">Tomarse foto</button>
    </div>
  </form>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="allignTopModal">
        <span class="close">&times;</span>
        <button class="closeModal1Button"></button>
      </div>
      <div class="centerCamera">
        <video id="video" autoplay></video>
        <!--<canvas id="canvas"></canvas>-->
      </div>
      <div class="cameraButtons">
        <button id="click-photo">Click Photo</button>
      </div>
    </div>
  </div>
  <div id="myModal2" class="modal">
    <div class="modal-content2">
      <div class="allignTopModal">
        <span class="close">&times;</span>
      </div>
      <div class="centerCamera">
        <canvas id="canvas"></canvas>
      </div>
      <div class="cameraButtons2">
        <button id="confirmButton">👍</button>
        <button id="denyButton">👎</button>
      </div>
    </div>
  </div>
  <input class="submit" type="button" onclick="myFunction()" value="Submit form">

</div>





<script>
  // Chequeos de validacion
  var changeImg = false;
  function validationCheck(variableName, idname) {
    if (variableName === '' || variableName === ' ') {
      document.getElementById(idname).style.color = 'red';
      return false;
    }
    return true;
  }
  function resetColor(resetName) {
    document.getElementById(resetName).style.color = '#65657b';
    notAbilable = false;
  }
  if (false) {
    document.getElementsByClassName("uploadImage")[0].style.color = 'red';
  }

  //Modal
  let video = document.querySelector("#video");
  var videoWidth, videoHeight;
  video.addEventListener("loadedmetadata", function (e) {
    videoWidth = this.videoWidth;
    videoHeight = this.videoHeight;
  }, false);
  let click_button = document.querySelector("#click-photo");
  var canvas = document.querySelector("#canvas");

  var image_data_url;
  click_button.addEventListener('click', function () {
    modal2.style.display = "block";
    console.log(videoWidth, videoHeight)
    if (videoWidth > videoHeight) {
      let cal = (videoWidth - videoHeight) / 2;
      canvas.height = videoHeight;
      canvas.width = videoHeight;
      canvas.getContext('2d').drawImage(video, cal, 0, videoHeight, videoHeight, 0, 0, canvas.width, canvas.height);
    }
    else if (videoWidth < videoHeight) {
      let cal = (videoHeight - videoWidth) / 2;
      canvas.height = videoWidth;
      canvas.width = videoWidth;
      canvas.getContext('2d').drawImage(video, cal, 0, videoWidth, videoWidth, 0, 0, canvas.width, canvas.height);
    }
    else {
      canvas.height = videoWidth;
      canvas.width = videoWidth;
      canvas.getContext('2d').drawImage(video, 0, 0, videoWidth, videoWidth, 0, 0, canvas.width, canvas.height);
    }
    image_data_url = canvas.toDataURL();
    var placeholderImg = document.getElementById("placeholderImg");
    placeholderImg.src = image_data_url;

  });

  var uploadImage = document.getElementById("uploadImage"); 
  var modal = document.getElementById("myModal");
  var modal2 = document.getElementById("myModal2");
  var btn = document.getElementById("myBtn");
  var confirmButton = document.getElementById("confirmButton");
  var denyButton = document.getElementById("denyButton");
  var span = document.getElementsByClassName("close")[0];
  var closeModal1Button = document.getElementsByClassName("closeModal1Button")[0];
  var spaceButtons = document.getElementsByClassName("spaceButtons")[0];
  

  btn.onclick = async function () {
    modal.style.display = "block";
    let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
    video.srcObject = stream;
  }

  confirmButton.onclick = function () {
    spaceButtons.style.display = "none";
    uploadImage.style.display = "none";
    btn.style.backgroundColor = "#8ED049";
    btn.style.color = "#000000";
    modal2.style.display = "none"; 
    modal.style.display = "none";
    //Descargar 
    /*
    image_data_url;
    var aDownloadLink = document.createElement('a');
    aDownloadLink.download = 'canvas_image.png';
    aDownloadLink.href = image_data_url;
    aDownloadLink.click();*/

    //Enviar al sv
    canvas.toBlob(function (blob) {
      form.append('sampleFile', blob, 'image');
    })
  }

  denyButton.onclick = function(){
    modal2.style.display = "none"; 
  }

  span.onclick = function () { modal.style.display = "none"; }

  closeModal1Button.onclick = function () { modal.style.display = "none"; }


  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  //Guardado de la imagen y muestreo
  const canvas1 = document.createElement("canvas");
  const form = new FormData();
  var imageIsLoad= false;
  file.onchange = evt => {
    spaceButtons.style.display = "none";
    btn.style.display = "none";
    uploadImage.style.backgroundColor = "#8ED049";
    uploadImage.style.color = "#000000";

    var placeholderImg = document.getElementById("placeholderImg");
    const [imgfile] = file.files;
    document.getElementById("uploadImage").innerHTML = [imgfile.name];
    placeholderImg.src = URL.createObjectURL(imgfile);

    const reader = new FileReader();

    reader.onload = function () {
      const img = new Image();
      img.onload = function () {
        const context = canvas1.getContext("2d");

        if (img.width > img.height) {
          let cal = (img.width - img.height) / 2;
          canvas1.height = img.height;
          canvas1.width = img.height;
          context.drawImage(img, cal, 0, img.height, img.height, 0, 0, canvas1.width, canvas1.height);
        }
        else if (img.width < img.height) {
          let cal = (img.height - img.width) / 2;
          canvas1.height = img.width;
          canvas1.width = img.width;
          context.drawImage(img, 0, cal, img.width, img.width, 0, 0, canvas1.width, canvas1.height);
        }
        else {
          
          canvas1.height = img.width;
          canvas1.width = img.width;
          context.drawImage(img, 0, 0, img.width, img.width, 0, 0, canvas1.height, canvas1.height);
        }
        canvas1.toBlob(function (blob) {
          form.append('sampleFile', blob, 'image');
          imageIsLoad=true;
        })

      }
      img.src = reader.result;
    }
    reader.readAsDataURL(file.files[0])
  }



  //LLamado al submit
  function myFunction() {
    let securityCheck = true;

    //Chequeo form1
    if(!validationCheck(document.forms["myForm"]["tempfname"].value, "placeeholderName")){
        securityCheck= false;
      }else{
        securityCheck= true;
      }
    if(!validationCheck(document.forms["myForm"]["templastname"].value, "placeeholderLastname")){
        securityCheck= false;
      }else{
        securityCheck= true;
      }
    if(!validationCheck(document.forms["myForm"]["description"].value, "placeeholderDescription")){
      securityCheck= false;
      }else{
        securityCheck= true;
      }

    //Chequeo form2
    function isCanvasBlank(canvas) {
      const context = canvas.getContext('2d');
      const pixelBuffer = new Uint32Array(
        context.getImageData(0, 0, canvas.width, canvas.height).data.buffer
      );
      return !pixelBuffer.some(color => color !== 0);
    }

    if (securityCheck) {
  
      if (!isCanvasBlank(canvas)){
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/links/image', true);
        xhr.send(form);
        document.getElementById("myForm").submit();
      }
      else if(imageIsLoad){
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/links/image', true);
        xhr.send(form);
        document.getElementById("myForm").submit();
      }
    }
  };
</script>