<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

<style>
  body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('../backgroundImage/standard.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 30vw;
  }

  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
  }

  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;

  }

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .ic1 {
    margin-top: 40px;
  }

  .ic2 {
    margin-top: 30px;
  }

  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 65px;
  }

  .cut-short {
    width: 80px;
  }

  .input:focus~.cut,
  .input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
  }

  .placeeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  .input:focus~.placeeholder,
  .input:not(:placeholder-shown)~.placeeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .input:not(:placeholder-shown)~.placeeholder {
    color: #808097;
  }

  .input:focus~.placeeholder {
    color: #65657b;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }

  .submit:active {
    background-color: #06b;
  }

  input[type="file"] {
    display: none;
  }

  .uploadImage {
    color: #a9a9b6;
    height: 60px;
    width: 400px;
    background-color: rgb(79, 66, 195);
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
  }

  #placeholderImg {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    border: 3px solid #fff;
  }

  .imageButtons {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .spaceButtons {
    margin: 30px;
    color: white;
  }

  .inputfile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    display: none;
    z-index: 1;
    overflow-y: hidden;
    width: 87vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .modal2 {
    display: none;
    z-index: 1;
    overflow-y: hidden;
    width: 87vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    background-color: #15172be3;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
  }
  .modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
  }

  .allignTopModal {
    display: flex;
    justify-content: space-between;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .cameraButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cameraButtons button {
    display: flex;
    flex-direction: row;
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    outline: 0;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

  }

  .centerCamera {
    display: flex;
    justify-content: center;
  }

  #video {
    max-height: 100%;
    width: auto;
  }

  #canvas {
    margin-left: 50px;
    height: 200px;
    width: 200px;
  }
</style>

<div class="form">
  <img id="placeholderImg" src="../defaultImg/defaultImg23698.jpg" alt="">
  <form id="myForm" action="/links/add" method="POST">
    <div class="title">Bienvenido</div>
    <div class="subtitle">Complete los datos</div>
    <div class="input-container ic1">
      <input name="tempfname" id="firstname" class="input" type="text" placeholder=" "
        onchange="resetColor('placeeholderName')" />
      <div class="cut"></div>
      <label for="firstname" class="placeeholder" id="placeeholderName">Nombre</label>
    </div>
    <div class="input-container ic2">
      <input name="templastname" id="lastname" class="input" type="text" placeholder=" "
        onchange="resetColor('placeeholderLastname')" />
      <div class="cut"></div>
      <label for="lastname" class="placeeholder" id="placeeholderLastname">Apellido</label>
    </div>
    <div class="input-container ic2">
      <input name="tempdescription" id="description" class="input" type="text" placeholder=" "
        onchange="resetColor('placeeholderDescription')" />
      <div class="cut cut-short"></div>
      <label for="description" class="placeeholder" id="placeeholderDescription">Comentarios</label>
    </div>
  </form>
  <br>
  <form id="myForm1" action="/links/image" method="POST" encType="multipart/form-data">
    <div class="imageButtons">
      <input id="file" class="inputfile" type="file" name="sampleFile" accept="image/*" onchange="loadFile(event)" encType="multipart/form-data">
      <label id="uploadImage" class="uploadImage" for="file">Subir archivo</label>
      <div class="spaceButtons"> O </div>
      <button id="myBtn" class="uploadImage" type="button">Foto</button>
    </div>
  </form>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="allignTopModal">
        <span class="close">&times;</span>
      </div>
      <div class="centerCamera">
        <video id="video" autoplay></video>
        <!--<canvas id="canvas"></canvas>-->
      </div>
      <div class="cameraButtons">
          <button id="click-photo">Click Photo</button>
        </div>
    </div>
  </div>
  <div id="myModal2" class="modal2">
    <div class="modal-content2">
      <div class="allignTopModal">
        <span class="close2">&times;</span>
      </div>
      <div class="centerCamera">
        <canvas id="canvas"></canvas>
      </div>
      <div class="cameraButtons">
          <button id="confirmButton">Seee</button>
        </div>
    </div>
  </div>
  <input class="submit" type="button" onclick="myFunction()" value="Submit form">

</div>





<script>
  // Chequeos de validacion
  var changeImg = false;
  function validationCheck(variableName, idname) {
    if (variableName === '' || variableName === ' ') {
       document.getElementById(idname).style.color = 'red';
       return false;
    }
    return true;
  }
  function resetColor(resetName) {
    document.getElementById(resetName).style.color = '#65657b';
    notAbilable = false;
  }
  if (false) {
      document.getElementsByClassName("uploadImage")[0].style.color = 'red';
  }

  //Modal
  let video = document.querySelector("#video");
  var videoWidth, videoHeight;
  video.addEventListener("loadedmetadata", function (e) {
    videoWidth = this.videoWidth;
    videoHeight = this.videoHeight;
  }, false);
  let click_button = document.querySelector("#click-photo");
  let canvas = document.querySelector("#canvas");

var image_data_url;
  click_button.addEventListener('click', function () {
    modal2.style.display = "block";
    console.log(videoWidth,videoHeight)
    if (videoWidth > videoHeight) {
      let cal = (videoWidth - videoHeight) / 2;
      canvas.height=videoHeight;
      canvas.width=videoHeight;
      canvas.getContext('2d').drawImage(video, cal, 0, videoHeight, videoHeight, 0, 0, canvas.width, canvas.height);
    }
    else if (videoWidth < videoHeight) {
      let cal = (videoHeight - videoWidth) / 2;
      canvas.height=videoWidth;
      canvas.width=videoWidth;
      canvas.getContext('2d').drawImage(video, cal, 0, videoWidth, videoWidth, 0, 0, canvas.width, canvas.height);
    }
    else {
      canvas.height=videoWidth;
      canvas.width=videoWidth;
      canvas.getContext('2d').drawImage(video, 0, 0, videoWidth, videoWidth, 0, 0, canvas.width, canvas.height);
    }
    image_data_url = canvas.toDataURL();
    var placeholderImg = document.getElementById("placeholderImg");
    placeholderImg.src = image_data_url;

  });

  var modal  = document.getElementById("myModal");
  var modal2 = document.getElementById("myModal2");
  var btn    = document.getElementById("myBtn");
  var btn2   = document.getElementById("confirmButton");
  var span   = document.getElementsByClassName("close")[0];
  var span2  = document.getElementsByClassName("close2")[0];

  btn.onclick = async function () {
    modal.style.display = "block";
    let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
    video.srcObject = stream;
  }

  btn2.onclick =  function () {
    image_data_url;
    var aDownloadLink = document.createElement('a');
    aDownloadLink.download = 'canvas_image.png';
    aDownloadLink.href = image_data_url;
    aDownloadLink.click();
  }


  span.onclick = function ()  {modal.style.display = "none"; }
  span2.onclick = function () {modal2.style.display = "none";}

  window.onclick = function (event){
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  //Guardado de la imagen y muestreo
  file.onchange = evt => {
    notAbilable = false;
    document.getElementsByClassName("uploadImage")[0].style.color = '#a9a9b6'
    changeImg = true;
    var placeholderImg = document.getElementById("placeholderImg");
    const [imgfile] = file.files;
    document.getElementById("uploadImage").innerHTML = [imgfile.name];
    placeholderImg.src = URL.createObjectURL(imgfile);

    const img = document.createElement('img');

    // Initialize the canvas and it's size
    const canvas = document.createElement("canvas");
    const ctx = canvas.getContext("2d");

    // Set width and height
    canvas.width = 200;
    canvas.height = 200;

    // Draw image and export to a data-uri
    ctx.drawImage(placeholderImg, 0, 0, canvas.width, canvas.height);
    const dataURI = canvas.toDataURL();

    // Do something with the result, like overwrite original
    img.src = dataURI;

    var form       = document.createElement("form");
    var element1   = document.createElement("input");
    form.method    = "POST";
    form.action    = "/links/image"; 
    element1.value = img;


    
    form.appendChild(element1); 
    document.body.appendChild(form);
    form.submit();
  }

  

  //LLamado al submit
  function myFunction() {
    let securityCheck= true;

    //Chequeo form1
    //if(!validationCheck(document.forms["myForm"]["tempfname"].value, "placeeholderName")){securityCheck= false;}
    //if(!validationCheck(document.forms["myForm"]["templastname"].value, "placeeholderLastname")){securityCheck= false;}
    //if(!validationCheck(document.forms["myForm"]["description"].value, "placeeholderDescription")){securityCheck= false;}

    //Chequeo form2


    if (securityCheck) {
      console.log(file);
      console.log(file.name);
      //document.getElementById("myForm").submit();
      document.getElementById("myForm1").submit();
    }
  };
</script>